<section class="container">
    <div class="container__inner">
      <h2>Please Login</h2>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <div class="form-control">
          <input type="text" name="email" required ngModel />
          <label>Email</label>
        </div>
        <div class="form-control">
          <input type="password" name="password" required ngModel />
          <label>Password</label>
        </div>
        <button class="btn__primary" type="submit">Login</button>
        <p class="text">
          Don't have an account?
          <a class="register" routerLink="/register">Register</a>
        </p>
      </form>
    </div>
  </section>
  